
# compiled files
*.pyc

# temporary files
services/web_app/temp

# packages
packages/vlm4ocr/develop
packages/vlm4ocr/dist
packages/vlm4ocr/tests

# web app
services/web_app/tests
services/web_app/uploads
nginx/certs/nginx-selfsigned.crt
nginx/certs/nginx-selfsigned.key

# internal documentation
docs/release_notes
site/